.container__big-card{
  width: 500px;
  border-radius: 10px;
  margin: 0 15px 20px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.big-card__title{
  margin-top: 10px;
}

.big-card__title > h2 {
  font-size: 2em;
}

.big-card__description{
  margin-top: 10px;
}

.big-card__description > p > a {
  color: grey;
}

.big-card__picture > a > img {
  width: 100%;
  border: 3px solid whitesmoke;
  border-radius: 75px;
}

.big-card__picture > a > img:hover{
  border: 3px solid rgb(29, 133, 252);
}
.big-card__title > h2:hover {
  border-bottom: 3px solid rgb(29, 133, 252);
}

.big-card__description > p > a:hover {
  border-bottom: 3px solid rgb(29, 133, 252);
}

